/* body * {
  outline: 1px dashed tomato;
} */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--txt-clr);
  background-color: var(--white-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

address {
  font-style: inherit;
}

input {
  cursor: pointer;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:focus {
  outline: 1px solid var(--client-border-clr);
}

button {
  cursor: pointer;
}

.horisontal-orientation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --brand-clr: rgb(33, 150, 243);
  --brand-transparent-clr: rgba(33, 150, 243, 0.9);
  --white-clr: #ffffff;
  --transparent-clr: rgba(255, 255, 255, 60%);
  --nuance-clr: #f5f4fa;
  --activity-bgd: #eeeeee;
  --border-clr: #ececec;
  --overlay-hero: rgba(47, 48, 58, 0.4);
  --txt-clr: #757575;
  --sub-hero: #c4c4c4;
  --footer-clr: #2f303a;
  --contrast-clr: #212121;
  --black-clr: #000000;
  --shadow-clr: rgba(0, 0, 0, 25%);
  --client-border-clr: #afb1b8;
  --column-project: 3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 4px;
}

.subscribe-btn,
.order-btn,
.send-btn {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-clr);
  background-color: var(--brand-clr);
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn {
  margin-right: 0;
  margin-left: auto;
  padding: 0 28px;
}

.order-btn {
  padding: 0 32px;
  margin: 0 auto;
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--contrast-clr);
  background-color: var(--nuance-clr);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-clr);
  background-color: var(--brand-clr);
  box-shadow: 0px 3px 1px black;
  box-shadow: 0px 1px 2px black;
  box-shadow: 0px 2px 2px black;
  outline: none;
}

.send-btn:hover,
.send-btn:focus {
  box-shadow: 0px 3px 1px black;
  box-shadow: 0px 1px 2px black;
  box-shadow: 0px 2px 2px black;
  outline: none;
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.order-btn:hover,
.order-btn:focus {
  border: 1px solid var(--white-clr);
  outline: none;
}
/*# sourceMappingURL=main.css.map */