.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.social--left {
	justify-content: flex-start;
}

.social__item:not(:last-child) {
	margin-right: 10px;
}

.social__link {
	@extend %centered;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	transition: background-color $time $curv;
	&:hover,
	&:focus {
		background-color: $brand-clr;
		outline: none;
	}
}

.social__link--dark-bg {
	background-color: $icon-bg-clr;
}

.social__icon {
	width: 20px;
	height: 20px;
	transition: fill $time $curv;

	fill: $client-border-clr;
	.social__link:hover &,
	.social__link:focus & {
		fill: $white-clr;
	}
}

.social__icon--dark-bg {
	fill: $white-clr;
}
