// test
@mixin text($ff: 16px, $fs: normal 16px, $fw: 16px, $fz: 16px, $lh: 500, $ls: 0.02em, $clr: 1.2) {
	font-family: $ff;
	font-style: $fs;
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
	letter-spacing: $ls;
	color: #757575;
}
