:root {
	--brand-clr: rgb(33, 150, 243);
	--brand-transparent-clr: rgba(33, 150, 243, 0.9);
	--white-clr: #ffffff;
	--transparent-clr: rgba(255, 255, 255, 60%);
	--nuance-clr: #f5f4fa;
	--activity-bgd: #eeeeee;
	--border-clr: #ececec;
	--overlay-hero: rgba(47, 48, 58, 0.4);
	--txt-clr: #757575;
	--sub-hero: #c4c4c4;
	--footer-clr: #2f303a;
	--contrast-clr: #212121;
	--black-clr: #000000;
	--shadow-clr: rgba(0, 0, 0, 25%);
	--client-border-clr: #afb1b8;

	--column-project: 3;
}
