.clients {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--contrast-clr);
}

.client-logo-cont {
	width: 170px;
	height: 92px;
}

.client-logo-link {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid var(--client-border-clr);
	transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-cont:not(:last-child) {
	margin-right: 30px;
}

.client-logo-icon {
	width: 106px;
	height: 60px;
	fill: var(--client-border-clr);
	transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients li:not(:last-child) {
	margin-right: 30px;
}

.client-logo-link:hover,
.client-logo-link:focus {
	border: 1px solid $brand-clr;
}

.client-logo-cont:hover .client-logo-icon,
.client-logo-link:focus .client-logo-icon {
	fill: $brand-clr;
}
