.footer-section {
	padding: 60px 0px;
	background-color: $footer-clr;
}

.footer-section__container {
	@extend .container;
	@extend %horisontal-orientation;
	align-items: baseline;
}

.footer-section__contacts,
.footer-section__social {
	width: calc((100% + 30px) / 4 - 30px);
	margin-left: 0;
	margin-right: 30px;
}

.footer-section__subscribe {
	width: calc((100% + 30px) / 2 - 30px);
	margin-right: 0;
}

// 1

.footer-contact__logo {
	color: $white-clr;
	margin-bottom: 20px;
}

.footer-contact__address {
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.footer-contact__item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-contact__link {
	color: $transparent-clr;
	&:hover,
	&:focus {
		color: $brand-clr;
	}
}

.footer-contact__link--light {
	color: $white-clr;
}

.footer-section__social-title,
.footer-section__subscribe-title {
	@include section-subtitle();
}

// 3

.subscribe {
	@extend %horisontal-orientation;
}

.subscribe__label {
	margin-right: 12px;
	width: 100%;
}

.subscribe__input {
	height: 50px;
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: transparent;
	transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
	/* box-sizing: border-box; */
	/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
	border-radius: 4px;
	padding: 15px 16px;

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: $transparent-clr;
	&:hover,
	&:focus {
		border-color: $client-border-clr;
	}
}

.subscribe__button {
	margin-right: 0;
	margin-left: auto;
}
